@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Contact Manager!</h1>
    <p>Click on "Contact Manager" in the nav bar to see all contacts.</p>
</div>
